<!-- Jumbotron-->
<header class="jumbotron">
    <div class="container text-center">
        <div class="row featurette">
            <div class="text-lg-left text-xl-left col-md-7 order-md-2 align-self-center "> 
                <h1 class="gines">Ginés Ramírez</h1>
                <p class="font-weight-light"> Data geek based in Madrid - Barcelona - Bilbao </p>
            </div>
            <div class="text-lg-right text-xl-right col-md-5 order-md-1"> 
                <img class="rounded-circle" src="/assets/img/gines2.png" alt="Gines Ramirez" width="140" height="140" style="">
            </div>
        </div>
    </div>
</header>
<!--.Jumbotron -->