<header class="jumbotron text-center">
    <h1 class="gines font-weight-normal"> {{ page.title | escape }} </h1>
      <p class="font-weight-light"> {{ page.description | escape }} </p>
      <span>
          {% for tag in page.tags %}
            {% for tag_template in site.tags %}
              {% if tag == tag_template.title %}
                <strong class="d-inline-block mb-2" style="color:{{tag_template.color}};">{{tag}}</strong>
              {% endif %}
            {% endfor %}  
          {% endfor %}
      </span>
        <time class="mb-1 text-muted" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %Y " %}
          <br>
          {{ page.date | date: date_format }}
        </time>
      </p>
</header>