<!-- Navigation Bar -->
<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/"> <img src="/assets/logo-dark.png" class="logo" alt="ginopalazzo"/> </a>
        <div class="social">
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><i class="fab fa-github fa-lg social-icon"></i></a>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fab fa-twitter fa-lg social-icon"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/ginesramirez/?locale=en_US"><i class="fab fa-linkedin-in fa-lg social-icon"></i></a>
            <a target="_blank" href="mailto:{{ site.email }}"><i class="fas fa-at fa-lg  social-icon"></i></a>
        </div>
    </div>
</nav>
<!-- .Navigation Bar -->