<!-- Navigation Bar -->
<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="icon-home social-icon"> </span></a>
        
        <div class="social">
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="icon-github social-icon"></a>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><span class="icon-twitter social-icon"></a>
            <a target="_blank" href="https://www.linkedin.com/in/ginesramirez/?locale=en_US"><span class="icon-linkedin social-icon"></i></a>
            <a target="_blank" href="mailto:{{ site.email }}"><span class="icon-at-sign social-icon"> </span></a>
        </div>
    </div>
</nav>