---
# Only the main Sass file needs front matter (the dashes are enough) 
---
@import "minima";


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2olrgz');
  src:  url('fonts/icomoon.eot?2olrgz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2olrgz') format('truetype'),
    url('fonts/icomoon.woff?2olrgz') format('woff'),
    url('fonts/icomoon.svg?2olrgz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

ul, ol, li {
    margin-left: 15px;
}

.icon-at-sign:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}


.social-icon {
  margin-left: 0.3em;
  margin-right: 0.4em;
  color: #4D4D4D;
}
.social-icon:hover {
    color: black
}

body {
    font-family: 'Roboto Light',sans-serif;
    font-weight: 300;
    background-color: white;
}

a {
    color: #2e6da4;
}
a:hover {
    color: rgba(46, 109, 164, 0.78);
    text-decoration: none;
}

.jumbotron {
    margin-bottom: 0;
    border-top: .05rem  solid #2e6da4;
}

.badge-rent {
    background-color: rgba(46, 109, 164, 0.78);
    color: white;
}
.navbarra {
    margin-bottom: 40px;
    background-color: #f8f8f8;
    border-top: .05rem solid #e7e7e7;
    border-bottom: .05rem solid #e7e7e7;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 1.50rem;
}
.gines {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-footer {
    margin-top: 50px;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f8f8f8;
    border-top: .05rem solid #e7e7e7;
}

pre, code {
  background-color : #ffffff;  
}

.highlighter-rouge {
    color: #000000;
}

.full{
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}