---
layout: default
---
<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  {{ content }}
  {% assign posts=site.posts | where:"lang", page.lang %} 
  <div id="myBtnContainer" class="row mb-2 d-flex justify-content-center">
     <button onclick="filterSelection('all')" class="btn active" style="color:black;">All</button>
    {% for tag in site.tags %}
      <button onclick="filterSelection('{{tag.title}}')" class="btn" style="color:{{tag.color}};" id="button-{{tag.title}}">{{tag.title}}</button>
    {% endfor %}
  </div>
  
  {% if site.posts.size > 0 %}
    <div class="row mb-2">
      {% for post in posts %}
        <!-- Post.Python: Django + Scrapy -->
        <div class="col-md-6 filterDiv {% for tag in post.tags %} {{tag}} {% endfor %}" style="cursor: pointer;" onclick="window.location='{{ post.url | relative_url }}';">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <span>
              {% for tag in post.tags %}
                {% for tag_template in site.tags %}
                  {% if tag == tag_template.title %}
                  <strong class="d-inline-block mb-2" style="color:{{tag_template.color}};">{{tag}}</strong>
                  {% endif %}
                {% endfor %}  
              {% endfor %}
            </span>
            <h3 class="mb-0">
              <a class="text-dark" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <span>
              {% assign date_format = site.minima.date_format | default: "%Y %b" %}
              <div class="d-inline-block mb-2 text-muted">{{ post.date | date: date_format }}</div>
              <span class="d-inline-block mb-2 badge badge-secondary">{{ post.categories }}</span>
              
            </span>
            <p class="card-text mb-auto">{{ post.description | escape }}</p>  
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="assets/posts/{{post.ref}}/thumbnail.png" data-holder-rendered="true">
        </div>
      </div>
    {% endfor %}
    </div>

  {% endif %}

</div>
<script type="text/javascript">
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  // Show filtered elements
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  // Hide elements that are not selected
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1); 
      }
    }
    element.className = arr1.join(" ");
  }

  // Add active class to the current control button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  </script>
